NAME=<имя пользвателя>
USERNAME_BOT=<имя бота>
BOT_TOKEN=<Telegram_token>
ADMIN_ID=<user_id пользователя>

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=name
POSTGRES_PASSWORD=password
POSTGRES_DB=<name_db>

# Для асинхронного подключения в SQLAlchemy 
DATABASE_URL=postgresql+asyncpg://name:password@127.0.0.1:5432/POSTGRES_DB

# Для синхронного подключения в Alembic
DATABASE_URL_SYNC=postgresql://name:password@127.0.0.1:5432/POSTGRES_DB